# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
*.jks
*.keystore
